@import "colors";

header {
  width: 100%;
  height: 225px;
  border-radius: 20px;
  position: relative;
  background-color: $main-color;
  color: white;
  .banner-title {
    width: 90%;
    font-size: 50px;
    font-weight: 500;
    color: white;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    .banner-title-bis{
      width: 100%;
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 900px) {
  .banner {
  height: 210px;
    .banner-title {
      font-size: x-large !important;
      padding-left: 10px;
      .banner-title-bis{
        width: 100%;
        font-size: 20px;
      }
    }
    
  }
}
