@import "colors";

.skills{
    .skills-step{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        border: 1px solid $main-color;
        border-radius: 20px;
        margin-bottom: 10px;
    .collapse{
        width: 40%;
        margin: 0px 40px 20px 40px;
        .collapse-banner{
            width: 100%;
            line-height: normal;
        }
    }
}
}

@media screen and (max-width: 900px) {
.skills{
    .skills-step{
        justify-content: center;
    .collapse{
        width: 90%;
        margin: 0px 0px 20px 0px;
    }
}
}
}