@import "colors";

footer {
  background-color: $main-color;
  color: white;
  font-size: large;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 25px;
  .footer-text {
    padding: 10px;
  }
ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  li{
    margin: auto;
  }
  a{
    color: white;
  }
}
}
.logo{
  width: 50px;
  height: 50px;
  border: white solid 2px;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  footer {
    height: 140px;
    padding: 10px 0px;
    ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    }
  }
}
