.studies-collapses {
    width: 100%;
    margin: auto;
    .collapse {
      margin-top: 20px;
      margin-bottom: 20px;
  
      h2{
        line-height: normal;
        margin-top: 10px;
      }
      p{margin-top: 10px;}
    }
  }
  
  @media screen and (max-width: 900px) {
    .studies-collapses {
        .collapse {
            .collapse-banner{
                line-height: normal;
                height:120px}
          p{
            margin-top: 10px;
        }
        }}}