@import "colors";

body {
  font-family: "Montserrat";
  color: $main-color;
  margin: auto;
  max-width: 1500px;
  padding: 10px;
}
h2{
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  width: 100%;
}
main {
  min-height: 70vh;
}
